*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body {
    font-size: calc(12px + 0.1vw);
}

h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #000;
    text-transform: uppercase;
}

#contact-section{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    margin-bottom: 4em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #FFE2A8;
    box-shadow: 0 0 0.5em #7f7154;
    width: 50vw;
}

#message-input{
    height: 5em;
}

#contact-form input{
    width: 80%;
    margin: 1em;
    padding: 1em;
    border: none;
}

#contact-form label{
    display: none;
}