*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#wrapper {
    overflow-x: hidden;
}

#wrapper span {
    position: absolute;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: 6px solid blue;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 0.5;
    }
    100%{
        transform: scale(1.8) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

#recent-projects{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

#carousel-container{
    width: 100%;
    padding-bottom: 2em;
    margin-top: 2em;
}

#recent-projects::-webkit-scrollbar{
    width: 0px;
}

#recent-projects-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;
}

.single-project{
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: 100%;
   scroll-snap-align: start;
}

.carousel-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.carousel-nav a:hover{
    cursor: pointer;
    opacity: 1;
}

#bio {
    padding: 10em;
    text-align: center;
}

#github-bio{
    font-size: 3em;
}

h2 {
    padding-top: 0em;
    margin-top: 0em;
    padding: 2em;
    padding-bottom: 0em;
    font-size: 2.5em;
    text-align: center;
}