nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}

#nav-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-list-elem {
    display: inline;
}

a {
    margin-left: 2em;
    margin-right: 2em;
    text-decoration: none;
    font-size: 23px;
}

a:visited {
    color: black;
}

a:hover {
    color: gray;
}

