nav {
    display: flex;
    justify-content: space-between;
}

#nav-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav-list-elem {
    display: inline;
}

a {
    margin-left: 20px;
    margin-right: 20px;
}